*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.logo-dawood-trader a {
    text-decoration: none;
    color: black;
}
.logo-dawood-trader a:hover {
   color: black;
}
.logo-dawood-trader a h3{
    font-family: "Beau Rivage", cursive;
    font-size: 3.8rem;
    text-align: center;
    margin: 20px 20px;
}

.Heading-Section{
    text-align: center;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    flex-direction: column;
    
   
     
     strong{
        background-color: rgb(219, 218, 218);
        padding: 5px;
        color: rgb(84, 84, 84);
        border-radius: 5px;
     }  
}


.Heading-Section  h2{
        font-size: 2rem;
        color: #333;
        margin-bottom: 20px;
        font-weight: 300;
        width: 80%;
    }
   
        
.Heading-Section h1{
        font-weight: 400;
        margin-top: 20px;
        font-size: 3rem;
        color: #555;
        width: 80%;
     }
     
    @media (max-width: 768px) {
        .Heading-Section h1 {
            font-size: 2rem;
        }
        .Heading-Section h2 {
            font-size: 1.4rem;
        }
    }

    @media (max-width: 768px) {
        .Logo-Dawood-Trader{
            font-size: 2rem;
        }
    }

     @media (max-width: 768px) {
        #main-title{
            font-size: 1.8rem;
    }
    }
    
    @media (max-width: 500px) {
        .Heading-Section h1 {
            font-size: 1.5rem;
            width: 95%;
        }
        .Heading-Section h2 {
            font-size: 1.2rem;
            width: 95%;
        }
    }

    

    

.product-detail{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.left-detail{
    text-align: center;
    flex: 1;
}
.left-detail img{
    width: 28rem;
}

@media (max-width: 500px) {
        .left-detail img{
        width: 20rem;
}
    }

.left-detail .small-img-row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.left-detail .small-img-row .small-img-col{
    cursor: pointer;
}
.left-detail .small-img-row .small-img-col img{
    width: 100%;
}
.right-detail{
    padding-left: .4rem;
    flex: 2;
}
.right-detail h5{
    color: #555;
}
.right-detail h1{
    font-size: 2.4rem;
}
.right-detail h4{
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
    color: #ff5039;
}
.right-detail select{
    width: 9.6rem;
    padding: 4px 6px;
}
.right-detail button{
    margin-top: 0.8rem;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 100px;
    cursor: pointer;
    background-color: black;
    transition: background-color 0.4s;
}
.right-detail button:hover{
    background-color: #414141;
}

.inside-card{
    padding: 10px;
}
.inside-card h4{
    font-weight: 500;
    font-size: 1.5rem;
}
.inside-card h5{
    margin-top: 6px;
    font-size: 1rem;
    font-weight: 300;
    color: #6b6b6b;
}
.price{
    padding: 8px;
    font-size: 1.4rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.discount-price{
    color: rgb(254, 20, 20);
    font-size: 1.5rem;
    font-weight: 800;
}
.original-price{
    color: #868686;
    font-size: 1rem;
}
.inside-card button {
    border: none;
    font-size: .9rem;
    padding: 14px 24px;
    border-radius: 100px;
    margin-top: 10px;
    background-color: rgb(250, 63, 63);
    transition: all 0.3s ease;
}
.inside-card button:hover{
    background-color: rgb(190, 39, 39);
}
.Select-Product-Model{
    margin-top: .2rem;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
}
.select-part{
    color: #474747;
}
.thanks-msg{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.thanks-msg h1{
    font-size: 3rem;
    color: #333;
}
.note-first{
    font-style: italic;
}
.note-second{
    font-family: "Almarai", sans-serif;
    color: #555;
    font-size: 2rem;
}
.main-btn{
    background-color: rgb(26, 26, 26);
    display: inline-block;
     border-radius: 2rem;
     margin-top: .7rem;
     margin-bottom: .4rem;
}
.main-btn a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;
}
.main-btn a:hover{
    background-color: rgb(54, 54, 54);
    border-radius: 2rem;
    color: white;
    transition: all 0.3s ease;
}

/* Services is Start */
.services{
    text-align: center;
    margin-top: 3rem;
    /* padding: 2rem; */
   
}
.services ul li{
    list-style: none;
    font-size: 1rem;
    /* margin: 1rem 0; */
    color: #333;
}
.services h6{
    font-size: .97rem;
    font-weight: 400;
}
.choose-us{
    border-radius: 10px;
    padding: 10px 12px;
}
.services h4{
    font-size: 1.3rem;
    font-weight: 600;
}
.choose-us-one{
    border-radius: 10px;
    padding: 10px 12px;
    background-color: rgb(231, 239, 218);
    margin: 10px;
    font-weight: 300;
}
.choose-us-one i{
    font-size: 2rem;
    color: rgb(8, 156, 8);
}

.choose-us-two{
    border-radius: 10px;
    padding: 10px 12px;
    background-color: rgb(239, 234, 218);
     margin: 10px;
     font-weight: 300;
}
.choose-us-two i{
    font-size: 2rem;
    color: rgb(211, 172, 45);
}

.choose-us-three{
    border-radius: 10px;
    padding: 10px 12px;
    background-color: rgb(218, 237, 239);
     margin: 10px;
     font-weight: 300;
}
.choose-us-three i{
    font-size: 2rem;
    color: rgb(56, 206, 222);
}

.choose-us-four{
    border-radius: 10px;
    padding: 10px 12px;
    background-color: rgb(218, 224, 239);
     margin: 10px;
     font-weight: 300;
}
.choose-us-four i{
    font-size: 2rem;
    color: rgb(54, 105, 232);
}

.choose-us-five{
    border-radius: 10px;
    padding: 10px 12px;
    background-color: rgb(239, 218, 218);
     margin: 10px;
     font-weight: 300;
}
.choose-us-five i{
    font-size: 2rem;
    color: rgb(233, 62, 62);
}

.choose-us-six{
    border-radius: 10px;
    padding: 10px 12px;
    background-color: rgb(220, 218, 239);
     margin: 10px;
     font-weight: 300;
}
.choose-us-six i{
    font-size: 2rem;
    color: rgb(76, 58, 239);
}
.services-end{
    letter-spacing: .3rem;
}

/* Services is End */

/* About is Start */

.About-Section p{
    font-weight: 300;
}
.footer{
    color: rgb(95, 95, 95);
    text-align: center;
    padding: 20px;
}
.footer h5{
    margin: 0;
}
.footer-color{
    background-color: rgb(236, 236, 236);
}
/* About is End */


