*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
}

.Logo-Dawood-Trader{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        padding: 20px;
        font-weight: 500;
        font-family: "Beau Rivage", cursive;
    }

    
.Heading-Section{
    text-align: center;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    flex-direction: column;
    
   
     
     strong{
        background-color: rgb(219, 218, 218);
        padding: 5px;
        color: rgb(84, 84, 84);
        border-radius: 5px;
     }  
}
.Heading-Section  h2{
        font-size: 2rem;
        color: #333;
        margin-bottom: 20px;
        font-weight: 300;
        width: 80%;
    }
   
        
.Heading-Section h1{
        font-weight: 400;
        margin-top: 20px;
        font-size: 3rem;
        color: #555;
        width: 80%;
     }
     
     @media (max-width: 768px) {
        .Heading-Section h1 {
            font-size: 2rem;
        }

         @media (max-width: 768px) {
        .Heading-Section h2 {
            font-size: 1.4rem;
        }
        @media (max-width: 768px) {
        .Logo-Dawood-Trader {
            font-size: 2.3rem;
        }

        @media (max-width: 500px) {
        .Heading-Section h1 {
            font-size: 1.5rem;
             width: 95%;
        }
          @media (max-width: 500px) {
        .Heading-Section h2 {
            font-size: 1.2rem;
             width: 95%;
        }

 .product-detail{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        .left-detail{
            text-align: center;
            flex: 1;
            img{
                width: 28rem;
            }
            .small-img-row{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                .small-img-col{
                    cursor: pointer;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .right-detail{
            padding-left: 1rem;
            flex: 2;
            h5{
                color: #555;
            }
            h1{
                font-size: 2.4rem;
            }
            h4{
                margin-bottom: 0.8rem;
                margin-top: 0.5rem;
                color: #ff5039;
            }
            select{
                width: 9.6rem;
                padding: 4px 6px;
            }
            button{
                margin-top: 0.8rem;
                border: none;
                color: white;
                padding: 10px 18px;
                border-radius: 100px;
                cursor: pointer;
                background-color: rgb(254, 20, 20);
                &:hover{
                    background-color: #ce3926;
                }
            }
           
            
        }
    }


    .inside-card{
        padding: 10px;
    }
     .inside-card h4{
        font-weight: 500;
        font-size: 1.5rem;
    }
    .inside-card h5{
        margin-top: 6px;
        font-size: 1rem;
        font-weight: 300;
        color: #6b6b6b;
    }
    .price{
        padding: 8px;
        font-size: 1.4rem;
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
    .discount-price{
        color: rgb(254, 20, 20);
       font-size: 1.5rem;
       font-weight: 800;
    }
    .original-price{
        color: #868686;
        font-size: 1rem;
    }
    .inside-card button {
        border: none;
        font-size: .9rem;
        padding: 14px 24px;
        border-radius: 100px;
        margin-top: 10px;
        background-color: rgb(250, 63, 63);
        transition: all 0.3s ease;
    }
    .inside-card button:hover{
        background-color: rgb(190, 39, 39);
    }
    .Select-Product-Model{
        margin-top: .2rem;
        font-style: italic;
        font-size: 1rem;
        font-weight: 400;
    }
    .select-part{
        color: #474747;
    }